.hero {
  $large-screen: em(860) !default;
  $hero-color: $black;
  padding-bottom: 3em;

  .hero-inner {
    @include outer-container;
    @include clearfix;

    margin: auto;
    padding: 3.5em;
    text-align: center;
    color: $hero-color;


    .hero-copy {
      text-align: center;

      h1 {
        @include media($large-screen) {
          font-size: 1.8em;
        }

        margin-bottom: .5em;

        font-size: 1.6em;
      }
    }
  }
}
