header.navigation {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-accent-color: #477dca !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize($white, .3);
  $navigation-color-hover: $white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $base-accent-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, .5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

  z-index: 999;

  width: 100%;
  min-height: $navigation-height;

  border-bottom: 1px solid darken($navigation-background, 10);
  background-color: $navigation-background;

  a {
    text-decoration: none;
  }

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;

    position: relative;
    z-index: 9999;
  }

  .logo {
    float: left;

    max-height: $navigation-height;
    padding-right: 2em;
    padding-left: $navigation-padding;

    img {
      max-height: $navigation-height;
      padding: .8em 0;
    }
  }

  // Mobile view

  .navigation-menu-button {
    @include media ($horizontal-bar-mode) {
      display: none;
    }

    display: block;
    float: right;

    margin: 0;
    padding-right: 1em;

    text-transform: uppercase;

    color: $navigation-color;

    font-weight: 700;
    line-height: $navigation-height;

    &:focus,
    &:hover {
      color: $navigation-color-hover;
    }
  }

  // Nav menu

  nav {
    @include media ($horizontal-bar-mode) {
      float: left;
    }

    z-index: 9999999;

    float: none;

    min-height: $navigation-height;
  }

  ul.navigation-menu {
    @include media ($horizontal-bar-mode) {
      display: inline;

      margin: 0;
      padding: 0;
    }

    z-index: 9999;

    display: none;
    clear: both;
    overflow: visible;

    width: 100%;
    margin: 0 auto;
    padding: 0;

    -webkit-transform-style: preserve-3d; // stop webkit flicker

    &.show {
      display: block;
    }
  }

  // The nav items

  ul li.nav-link {
    @include media ($horizontal-bar-mode) {
      display: inline;

      width: auto;

      text-decoration: none;

      background: transparent;

      line-height: $navigation-height;
    }

    z-index: 9999;

    display: block;
    overflow: hidden;

    width: 100%;
    padding-right: .8em;

    text-align: right;

    background: $navigation-background;

    line-height: $navigation-height;

    a {
      @include media ($horizontal-bar-mode) {
        padding-right: 1em;
      }

      display: inline-block;

      color: $navigation-color;

      font-weight: 400;

      &:focus,
      &:hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    padding-bottom: 3px;

    border-bottom: 1px solid $navigation-active-link-color;
  }

  // Sub menus

  li.more.nav-link {
    @include media($large-screen) {
      padding-right: $navigation-submenu-padding;
    }

    padding-right: 0;

    > ul > li:first-child a {
      padding-top: 1em;
    }

    a {
      margin-right: $navigation-submenu-padding;
    }

    > a {
      padding-right: .6em;
    }

    > a:after {
      @include position(absolute, auto -.4em auto auto);

      content: "\25BE";

      color: $navigation-color;
    }
  }

  li.more {
    @include media($horizontal-bar-mode) {
      position: relative;

      padding-right: .8em;
    }

    overflow: visible;

    padding-right: 0;

    a {
      padding-right: .8em;
    }

    > a {
      @include media($large-screen) {
        margin-right: $navigation-submenu-padding;
      }

      position: relative;

      padding-right: 1.6em;

      &:after {
        position: absolute;
        right: $navigation-submenu-padding / 2;

        content: "›";

        font-size: 1.2em;
      }
    }

    &:focus > .submenu,
    &:hover > .submenu {
      display: block;
    }
  }

  ul.submenu {
    @include media($horizontal-bar-mode) {
      position: absolute;
      top: 1.5em;
      left: -$navigation-submenu-padding;
    }

    display: none;

    padding-left: 0;

    .submenu {
      @include media($horizontal-bar-mode) {
        top: 0;
        left: $navigation-submenu-width - .2em;
      }
    }

    li {
      @include media($horizontal-bar-mode) {
        line-height: $navigation-height / 1.3;

        &:first-child > a {
          border-top-left-radius: $base-border-radius;
          border-top-right-radius: $base-border-radius;
        }

        &:last-child > a {
          padding-bottom: .7em;

          border-bottom-right-radius: $base-border-radius;
          border-bottom-left-radius: $base-border-radius;
        }
      }

      display: block;

      padding-right: 0;

      a {
        @include media($horizontal-bar-mode) {
          width: $navigation-submenu-width;
          padding-left: $navigation-submenu-padding;

          text-align: left;

          background-color: $navigation-background;
        }

        display: inline-block;

        width: 100%;

        text-align: right;

        background-color: darken($navigation-background, 3%);
      }
    }
  }

  // Elements on the far right

  .navigation-tools {
    @include media($large-screen) {
      float: right;
      clear: none;

      background: transparent;
    }

    display: block;
    clear: both;

    height: $navigation-height;
    padding-right: $navigation-padding;
    padding-left: $navigation-padding / 2;

    background: #505050;
  }

  .sign-up {
    @include button(flat, $base-accent-color);

    display: inline;
    float: right;

    margin-top: 1em;
    padding: .75em 1em;

    text-transform: uppercase;

    font-size: .8em;
  }

  // Search bar

  .search-bar {
    $search-bar-border-color: $base-border-color;
    $search-bar-border: 1px solid $search-bar-border-color;
    $search-bar-background: lighten($search-bar-border-color, 10%);

    @include media($horizontal-bar-mode) {
      position: relative;

      display: inline-block;

      width: 16em;

      input {
        @include box-sizing(border-box);

        display: block;
      }
    }

    float: left;

    width: 60%;
    padding: .85em .6em .7em .6em;

    form {
      position: relative;

      input[type=search] {
        @include box-sizing(border-box);
        @include media($large-screen) {
          width: 100%;
        }

        width: 100%;
        margin: 0;
        padding: .5em .8em;

        color: $navigation-color;
        border: $navigation-search-border;
        border-radius: $base-border-radius * 2;
        background: $navigation-search-background;

        font-size: .9em;
        font-style: italic;
      }

      button[type=submit] {
        @include button(flat, $navigation-search-background);

        position: absolute;
        top: .3em;
        right: .3em;
        bottom: .3em;
        left: auto;

        padding: 0 9px;

        outline: none;

        img {
          height: 12px;
          padding: 1px;

          opacity: .7;
        }
      }
    }
  }
}
