#{$all-buttons} {
  display: inline-block;

  padding: $small-spacing $base-spacing;

  cursor: pointer;
  user-select: none;
  transition: background-color $base-duration $base-timing;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;

  color: $white;
  border: 0;
  border-radius: $base-border-radius;
  background-color: $action-color;

  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;

  appearance: none;
  -webkit-font-smoothing: antialiased;

  &:hover,
  &:focus {
    color: $white;
    background-color: shade($action-color, 20%);
  }

  &:disabled {
    cursor: not-allowed;

    opacity: .5;

    &:hover {
      background-color: $action-color;
    }
  }
}
