table {
  width: 100%;
  margin: $small-spacing 0;

  table-layout: fixed;

  border-collapse: collapse;
}

th {
  padding: $small-spacing 0;

  text-align: left;

  border-bottom: 1px solid shade($base-border-color, 25%);

  font-weight: 600;
}

td {
  padding: $small-spacing 0;

  border-bottom: $base-border;
}

tr,
td,
th {
  vertical-align: middle;
}
