---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cryptopay.me/api/v2/invoices/<%= uuid %>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - 5c3c920039348d3fc77d8dcd7f16aa43
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc54896ab4ad54c6044645e06d0484e2"
      X-Rack-Cors:
      - preflight-hit; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"uuid":"<%= uuid %>","description":null,"status":"confirmed","btc_address":"2N7o4DETxNDqxQqdDCVxauPzNcZmidTdAaS","callback_params":null,"validation_hash":"8a05651f88e31c634690cb0fe763faec1822a800","name":null,"id":"SuperOrder","btc_price":0.0543,"price":22.22,"received":0.0,"currency":"USD","created_at":1457348845,"valid_till":1457349445,"received_confirmations":0,"callback_url":null,"success_redirect_url":null,"url":"http://sandbox.cryptopay.me/orders/bc90ab25-155c-4342-ae8c-e835abdfd8e1","bitcoin_uri":"bitcoin:2N7o4DETxNDqxQqdDCVxauPzNcZmidTdAaS?amount=0.0543&label=SuperOrder","txid":[]}'
  recorded_at: Mon, 07 Mar 2016 11:09:52 GMT
recorded_with: VCR 3.0.1
