---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cryptopay.me/api/v2/invoices
    body:
      encoding: UTF-8
      string: currency=USD&id=reprehenderit&price=10000
    headers:
      X-Api-Key:
      - 5c3c920039348d3fc77d8dcd7f16aa43
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2245da6316fc55874c2fced53c9fe2fc"
      X-Rack-Cors:
      - preflight-hit; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"uuid":"411a739c-8675-4f4b-af45-8ce29c8757f0","description":null,"status":"pending","btc_address":"2N4sNywKnNBz3zBYj8ZvWuuuDUyxXZk8CUx","callback_params":null,"validation_hash":"52e16ed947f5d890e38ef434dbd61d4e06ef4214","name":null,"id":"reprehenderit","btc_price":24.6493,"price":10000.0,"received":0.0,"currency":"USD","created_at":1457344378,"valid_till":1457344978,"received_confirmations":0,"callback_url":null,"success_redirect_url":null,"url":"http://sandbox.cryptopay.me/orders/411a739c-8675-4f4b-af45-8ce29c8757f0","bitcoin_uri":"bitcoin:2N4sNywKnNBz3zBYj8ZvWuuuDUyxXZk8CUx?amount=24.6493&label=reprehenderit","txid":[]}'
  recorded_at: Mon, 07 Mar 2016 09:52:59 GMT
recorded_with: VCR 3.0.1
