---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cryptopay.me/api/v2/invoices
    body:
      encoding: UTF-8
      string: currency=USD&id=dolores&price=10000
    headers:
      X-Api-Key:
      - 5c3c920039348d3fc77d8dcd7f16aa43
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d1eb0410d80a5391fe783d4dec63e494"
      X-Rack-Cors:
      - preflight-hit; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"uuid":"854b9351-ca14-4378-9007-a56398bdfadd","description":null,"status":"pending","btc_address":"2N5mTo6WbqX3aoWe4J7z3uX2MfUp7DsmRUh","callback_params":null,"validation_hash":"0642e97e783823afac4d9e6ebfbc644cc696e7fc","name":null,"id":"dolores","btc_price":23.6552,"price":10000.0,"received":0.0,"currency":"USD","created_at":1456653446,"valid_till":1456654046,"received_confirmations":0,"callback_url":null,"success_redirect_url":null,"url":"http://sandbox.cryptopay.me/orders/854b9351-ca14-4378-9007-a56398bdfadd","bitcoin_uri":"bitcoin:2N5mTo6WbqX3aoWe4J7z3uX2MfUp7DsmRUh?amount=23.6552&label=dolores","txid":[]}'
  recorded_at: Sun, 28 Feb 2016 09:57:32 GMT
recorded_with: VCR 3.0.1
