---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cryptopay.me/api/v2/invoices
    body:
      encoding: UTF-8
      string: currency=USD&id=dolor&price=10000
    headers:
      X-Api-Key:
      - 5c3c920039348d3fc77d8dcd7f16aa43
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2bac8f7df9b0f0821e366ccde72e257a"
      X-Rack-Cors:
      - preflight-hit; no-origin
    body:
      encoding: ASCII-8BIT
      string: '{"uuid":"8d3bf415-a7cb-4080-986e-e6c9ea8afaf4","description":null,"status":"pending","btc_address":"2MwyP1ozjNf6vUW2cKr9x6Cdm3Ytkqe3Esm","callback_params":null,"validation_hash":"8f66badacf0cc2d74b9d71da53cd1a3670681d1c","name":null,"id":"dolor","btc_price":23.5106,"price":10000.0,"received":0.0,"currency":"USD","created_at":1456698138,"valid_till":1456698738,"received_confirmations":0,"callback_url":null,"success_redirect_url":null,"url":"http://sandbox.cryptopay.me/orders/8d3bf415-a7cb-4080-986e-e6c9ea8afaf4","bitcoin_uri":"bitcoin:2MwyP1ozjNf6vUW2cKr9x6Cdm3Ytkqe3Esm?amount=23.5106&label=dolor","txid":[]}'
  recorded_at: Sun, 28 Feb 2016 22:22:20 GMT
recorded_with: VCR 3.0.1
